<h2>Bienvenido</h2>
    {{#if status}}
        <h4>Te encuentras conectado 😎</h4>
        
        <div class="text-center">
            <img src="https://www.pngitem.com/pimgs/m/497-4979354_computer-guy-meme-hd-png-download.png" class="rounded" alt="...">
        </div>
    
    {{else}}
       <h4>Oops! Parece que no estas logueado 😲</h4>

        <div class="text-center">
            <img src="https://hereonmyroom.files.wordpress.com/2014/03/277269_papel-de-parede-meme-virando-a-mesa_1920x1200.jpg" class="rounded" alt="...">
        </div>


    {{/if}}

